<div>
    <strong>Step 2: Meter Detail</strong>
    
    {{#link-to 'account.submit-reading.account-detail' class='change text-center'}}
        {{!-- <i class="fa fa-angle-right"></i> Change --}}
        <button>Back</button>
    {{/link-to}}
</div>
