<div>
    <strong>Step 1: Account detail</strong>
    <div class='form-control'>
        {{input type='text' name='email' value=email}}
    </div>
    <div>
        <button {{action 'onNext'}}>Next</button>
    </div>
</div>